body {
  margin :0;
}

.header {
  height:90px;
  background-color: #ff5757;
}

.nav-list{
  display : flex;
  justify-content:center;
  align-items: center;
  height:100%;
}
.nav-list img{
  width : 40px;
}
span{
  margin-left : 10px;
}