body {
  margin :0;
}

.header {
  height:90px;
  background-color: #ff5757;
}

.nav-list{
  display : flex;
  justify-content:center;
  align-items: center;
  height:100%;
}
.nav-list img{
  width : 40px;
}
span{
  margin-left : 10px;
}

.game-list{
  display:flex;
  justify-content: space-around;
  margin:5px;
  gap:10px;
}
.game-card{
  background-color: #ffd54f;
  color:#242424;
  border-radius : 6px;
  padding:5px;
}
